<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">

        <!-- Sweet alert - https://sweetalert2.github.io/#download -->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

        <!-- https://getbootstrap.com/docs/4.4/getting-started/introduction/ -->
        <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

        <style>
            table {
                border: 0.5px solid black;
            }

            th, td {
                padding: 12px;
                border-bottom: 1px solid #ddd;
            }
        </style>
    </head>
    <body style="background-color:DarkSeaGreen; margin:12px;">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        {% for message in get_flashed_messages() %}
        <div class="alert alert-success" id="alert_box" role="alert" style="width: 500px; position: relative; background-color: orange; margin-left: 10px;">
            <button type="button" onclick="alert_close();" class="close" data-dismiss="alert">&times;</button>
            <strong>Success!</strong> {{ message }}.
        </div>
        {% endfor %}

        <div class="container" style="background-color:OldLace; border-radius:20px; margin: 12px; padding: 15px;">
            <div class="small_container">
                <h4 style="display:inline-block;">{{g.user.username}}'s Profile, Administrator: {{g.user.admin}}</h4>  
                <button id="logOutButton" style="float:right; margin: 12px;" onclick="logout()" type="submit" class="btn btn-primary">Log out</button>
            </div>

            {% block content %}
                {% if g.user.admin %}
                    <div style="display:inline-block;">
                        <p>Administrative Tools</p>
                        <button id="userManipulationBtn" onclick="userManipulationContainer()"  type="submit" class="btn btn-primary">Add/Remove User</button>
                    </div>
                    <form id="form" method="post">
                        <div id="userManipulationContainer" class="userManipulation" style="background-color: LightSalmon; width: 225px; height: 220px; margin-top: 15px; border-radius: 15px; padding-top: 10px; display: none;">
                            <!--<input type="text" placeholder="UserID" id="userid" name="userid" maxlength="15" style="width: 200px; display:flex; padding: 8px; margin: 10px; border:0; border-radius: 10px;">-->
                            <input type="text" placeholder="Full Name" id="fname" name="fullname" maxlength="15" style="width: 200px; display:flex; padding: 8px; margin: 10px; border:0; border-radius: 10px;">
                            <input type="text" placeholder="Password" id="pword" name="password" maxlength="15" style="width: 200px; display:flex; padding: 8px; margin: 10px; border:0; border-radius: 10px;">
                            <select id="dropdown" class="form-control" name="dropdown" style="width: 200px; height: 30px; margin: 12px;">
                                <option selected>Admin</option>
                                <option value="1">False</option>
                                <option value="2">True</option>
                            </select>
                            <button type="submit" id="addUserBtn" onclick="submitForm('add'); return false;" style="font-size: 12px; width: 100px; height: 45px; margin-left: 10px; padding:8px; border:0; border-radius: 10px;" class="btn btn-success">Add User</button>
                            <button type="submit" id="removeUserBtn" onclick="submitForm('remove'); return false;" style="font-size: 12px; width: 100px; height: 45px; padding:8px; border:0; border-radius: 10px;" class="btn btn-danger">Remove User</button>
                        </div>
                    </form>
                {% endif %}
            {% endblock %}
            <button type="submit" onclick="userInfoContainer()" class="btn btn-primary" style="margin-top:10px;">View User Information</button>
            
            {% if g.user.admin %}
            <div id="userTable" style=" display: none; margin: 10px; ">
                <p>User Information</p>
                <table>
                    <tr>
                        <th>fullname</th>
                        <th>password</th> 
                        <th>admin</th>
                    </tr>
                {% for row, value in result.items() %}

                    <tr>
                        <th>{{ value['fullname'] }}</th>
                        <th>{{ value['password'] }}</th>
                        <th>{{ value['admin'] }}</th>
                    </tr>
                {% endfor %}
                </table>
            </div>
            {% endif %}

            {% if not g.user.admin %}
            <div id="userTable" style=" display: none; margin: 10px; ">
                <p>User Information</p>
                <table>
                    <tr>
                        <th>fullname</th>
                        <th>password</th> 
                        <th>admin</th>
                    </tr>
                {% for row, value in result.items() %}

                    <tr>
                        <th>{{ value['fullname'] }}</th>
                        <th>{{ value['password'] }}</th>
                        <th>{{ value['admin'] }}</th>
                    </tr>
                {% endfor %}
                </table>
            </div>
            {% endif %}
        </div>


        <script type="text/javascript"> 
            var userManipContain = document.getElementById("userManipulationContainer");
            var userTable = document.getElementById("userTable");
            //var userid = document.getElementById("userid");
            var fname = document.getElementById("fname");
            var pword = document.getElementById("pword");
            var submitBtn = document.getElementById("submitButton");
            var addBtn = document.getElementById('addUserBtn');
            var form  = document.getElementById('form');
            var dropdown = document.getElementById('dropdown');

            // required parameters
            function submitForm(submitType){
                var error = "Please fill in fields: ";
                var triggered = false;
                
                /*if ((submitType == "add" || submitType == "remove") && userid.value == ""){
                    error += "\n\u2023 User id";
                    triggered = true;
                }*/
                
                if ((submitType == "add" || submitType == "remove") && fname.value == ""){
                    error += "\n\u2023 Full name";
                    triggered = true;
                }
                if (submitType == "add" && pword.value == ""){
                    error += "\n\u2023 Password";
                    triggered = true;
                }
                if (submitType == "add" && dropdown.value === "Admin"){
                    error += "\n\u2023 Dropdown";
                    triggered = true;
                }

                if (triggered) {
                    Swal.fire(error)
                } else {
                    if (submitType == "add"){
                        form.action = '/submit/add/';
                    } else {
                        form.action = '/submit/remove/';
                    }
                    form.submit();
                }
            }

            function userManipulationContainer(){
                if(userManipContain.style.display == 'none'){
                    userManipContain.style.display = 'block'    
                } else {
                    userManipContain.style.display = 'none'    
                }
            }

            function userInfoContainer(){
                if(userTable.style.display == 'none'){
                    userTable.style.display = 'block'    
                } else {
                    userTable.style.display = 'none'    
                }
            }

            function logout(){
                window.location.href = 'login';
            }

            function alert_close(){
                document.getElementById('alert_box').style.display = 'none';
            }

            $(".dropdown-menu li a").click(function(){
                $(this).parents(".dropdown").find('.btn').html($(this).text());
                $(this).parents(".dropdown").find('.btn').val($(this).data('value'));
            });
        </script>
        
    </body>
</html>